.super-admin-login-section{
width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.super-admin-login-form{
    display: flex;
    flex-direction: column;
    width: 28vw;
}
.super-input-holder{
    display: flex;
    flex-direction: column;
}
.super-input-holder label{
    color: #414651;
    font-weight: bold;
    font-size: 14px;
}
.super-input-holder input{
    border: 1px solid #717680;
    border-radius: 4px;
    padding: 7px 10px;
}

.super-logo{
    margin: 0 auto;
    width: 140px;
    height: 23px;
}

.close{
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin:0 0 0 auto ;
}

.close > img {
width: 10px;
    height: 10px;
}