.onboarding-section{
    background-color: #cccccc;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.onboarding-section > main {
    width: 50vw;
    height: 100vh;
    background-color: #ffffff;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.onboarding-form{
    width: 26vw;
    height: 70vh;
    margin: 0 auto;
    padding: 0 40px;
}

.onboarding-form > span{
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.onboarding-form > p{
    font-size: 14px;
    color: #717680;
}
.carousel {
    height: 60% ;
    overflow: hidden;
    margin: 20px 0;
}
.carousel-track {
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: transform 0.4s ease;
}
.carousel-slide {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.carousel-slide > p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.carousel-slide > p > label{
    font-size: 14px;
    color: #717680;
}
.carousel-slide > p > input{
    border: 1px solid #cccccc;
    padding: 8px 10px;
    border-radius: 4px;
}
.carousel-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.carousel-buttons > button{
    display: flex;
    border: none;
    background-color: #1d1d1d;
    color: #fff;
    padding: 10px 10px;
    width: 80px;
    justify-content: center;
    border-radius: 5px;
}
.carousel-buttons > button:disabled{
    background-color: #414651;
}